
 @media all and (max-width: 1000px) {
    /* about us */
  .about {
      width:100%;
      margin-bottom: 50px;
  }
  .heading h2 {
      font-size: 30px;
    }
      /* akhir about us */
    .kolom {
    
    width: 100%;
  }
  .card {
      width: 70%;
    }
}


@media all and (max-width: 670px) {
/* about us */
  .about {
    width: 100%;
  }

  .heading h2 {
    font-size: 30px;
  }

  .about-icon img {
    margin-top: -15px;
     width: 75%;
  }
  .text-contents {
    ont-size: 14px;
        
 }
      
  /* akhir about us */

  .header-right {
    display: none;
  }
      
  .menu-icon {
    display: block;
  }

 .kolom {
    width: 100%;
  }

  .tim {
    width: 100%;
    height: max-content;
    padding: 20px;
  }

  .tim-wrapper{
    height: 400vh;
    background-color: blue;
  }

  .card {
      width: 100%;
    }
}

